.header {
    margin-top: 3em;
    font: Georgia;
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    gap: 0.3em;
}

.positive {
    align-items: flex-start;
}

.neutral {
    align-items: center;
}

.negative {
    align-items: flex-end;
}

.sentiment {
    display: flex;
    flex-direction: column;
}

#pos {
    color: #4E937A;
}

#neu {
    color: #F9C784;
}

#neg {
    color: #FF2320;
}